<!DOCTYPE html>
<html>
<head>
<title>CyberPatriot Scoring Report</title>
<style type="text/css">
h1 { text-align: center; }
h2 { text-align: center; }
body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url('background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  background-color: #336699;
}
.red {color: red;}
.green {color: green;}
.blue {color: blue;}
.main {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  border-radius: 12px;
  background-color: white;
  width: 900px;
  max-width: 100%;
  min-width: 600px;
  box-shadow: 0px 0px 12px #003366;
}
.text {
  padding: 12px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.center { text-align: center; }
.binary {
  position: relative;
  overflow: hidden;
}
.binary::before {
  position: absolute;
  top: -75%;
  left: -75%;
  display: block;
  width: 150%;
  height: 150%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: attr(data-binary);
  opacity: 0.16;
  line-height: 2em;
  letter-spacing: 2px;
  color: #369;
  font-size: 10px;
  pointer-events: none;
}
</style>
<meta http-equiv="refresh" content="30;url=ScoringReport.html">
</head>

<body>
<div class="main">
<div class="text">
<div class="binary" data-binary="0100 0010 00001001 10010100">
<p align=center style="width:100%;text-align:center"><img align=middle style="float:middle" src="image001.png"></p>
<h1>Training Round Ubuntu 16 Competition Image</h1>
<h2>Report Generated At: {{ now.strftime("%Y/%m/%d %-H:%M:%S") }}</h2>


<script language="Javascript">
//Array.from(document.querySelectorAll('.binary')).forEach(function(el) {
//  el.dataset.binary = (el.dataset.binary + ' ').repeat(2000);
//});
var bin = document.querySelectorAll('.binary');
[].forEach.call(bin, function(el) {
  el.dataset.binary = Array(4096).join(el.dataset.binary + ' ')
});
var currentdate = new Date().getTime();
gendate = Date.parse('{{ now.strftime("%Y/%m/%d %-H:%M:%S") }}');
diff = Math.abs(currentdate - gendate);
if ( gendate > 0 && diff > 1000 * 60 * 5 ) {
	document.write('<span style="color:red"><h2>WARNING: CCS Scoring service may not be running</h2></span>');
}
</script>
<h3 class="center">Approximate Image Running Time: 191:15:44</h3>
<h3 class="center">Approximate Team Running Time: 383:47:50</h3>
<h3 class="center">Current Team ID: <span style="color:green">AKKV-56VN-4P78</span></h3>


<h2>100 out of 100 points received</h2>
<p><p>
<h3>Connection Status: <span style="color:green">Scoring Data Uploaded Successfully: No Errors Detected</span></h3>
<p>
Internet Connectivity Check: <span style="color:green">OK</span> <br>
CyberPatriot Connection Status: <span style="color:green">OK</span> <br>
CyberPatriot Score Upload Status: <span style="color:green">OK</span> <br>
</p>
<h3>0 penalties assessed, for a loss of 0 points:</h3>
<p>

</p>
<h3>{{ points.solved }} out of {{ len(points) }} scored security issues fixed, for a gain of {{ points.score }} points:</h3>
<p>
{% for point in points %}
{{ point.description }} - {{ point.points }} pts<br>
{% endfor %}

</p>
<p align=center style="text-align:center">The CyberPatriot
Competition System is the property of the Air Force Association and the
University of Texas at San Antonio.</p>
<p align=center style="text-align:center">All rights reserved.</p>
</div>
</div>
</div>
</body>
</html>

