To answer this question, you must type your answer on a line beginning 
with "ANSWER:" and with your answer following after the colon. If a question
has more than one answer, put your answers on separate lines and make sure each 
line begins with "ANSWER:". Pay attention to spelling and capitalization.

============================================================================

QUESTION:  {{ forensics_question }}

( EXAMPLE ANSWER: {{ example_answer }} )

ANSWER: 
