[Unit]
Description=Runs the scoring program DO NOT DISABLE

[Service]
Type=oneshot
ExecStart=python3 /opt/ScoringEngine/score.python3

[Install]
WantedBy=multi-user.target